*.la
*.lo
*.o
*.so
/.deps
/.libs
/riak-c-driver-*.tar.gz
/riak-c-driver.spec
/rpmbuild
Makefile
Makefile.in
autom4te.cache/
config.log
config.status
test

# These files are installed by autoreconf or are built:
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
makefile.hidden
missing
